/* General */
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin-top: 0%;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 1.25rem;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/*header*/

header {
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 4rem;
    margin: 2rem 0 2rem 0;
}

header nav {
    display: flex;
}

header nav a {
    color: black;
    text-decoration: none;
    padding-top: 1rem;
    margin: 0 0 0 4rem;
}

header nav a:hover {
    color: var(--main-color);
    border-top: #0065FC 1px solid;
    padding-top: 1rem;
}

/*infoGroup*/

.infoGroup-title, .infoGroup-searchBar, .infoGroup-filterBar, .infoGroup-infoBar {
    margin-bottom: 2rem;
}

.infoGroup-title h2 {
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
}

.infoGroup-title p {
    margin-top: 0;
    font-size: 0.9rem;
}

.infoGroup-searchBar {
    display: flex;
    align-items: baseline;
}

.locationDot {
    background-color: #F2F2F2;
    color: black;
    padding: 0.75rem 0.9rem;
    border-radius: 10px 0 0 10px; 
}

#search {
    font-weight: bold;
    font-size: 1rem;
    color: black;
    text-align: center;
    padding: 0.65rem 0.9rem;
    border: #F2F2F2 1px solid;
}

.buttonTxt {
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 0 10px 10px 0;
    padding: 0.75rem 0.9rem;
}

.buttonLogo {
    display: none;
    background-color: #0065FC;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 15px;
    padding: 0.75rem 0.9rem;
}

.buttonLogo i {
    color: white;
}

.infoGroup-filterBar {
    display: flex;
    align-items: baseline;
}

.filterBar-title p {
    font-weight: bold;
    font-size: 0.95rem;
}

.filterBar-filters {
    display: flex;
}

.filter {
    display: flex;
    align-items: baseline;
    border: #D9D9D9 1px solid;
    border-radius: 50px;
    padding: 0.6rem 0.9em;
    margin-left: 1rem;
}

.filter:hover {
    background-color: #DEEBFF;
}

.filter i {
    padding-right: 0.5rem;
}

.filter p {
    margin: 0;
    font-weight: bold;
    font-size: 0.9rem;
}

.infoGroup-infoBar {
    display: flex;
    align-items: baseline;
}

.infoGroup-infoBar i {
    border: #F2F2F2 1px solid;
    padding: 6px 10px;
    border-radius: 50px;
    font-size: 0.7rem;
}

.infoGroup-infoBar p {
    font-size: 0.9rem;
    margin-left: 0.6rem;
}

/*Hebergements And Populaires*/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/*Hebergements*/

.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hebergements-cards a {
    text-decoration: none;
    color: black;
}

.hebergements-cards .card {
    margin-top: 33px;
}

.hebergements-cards img {
    width: 15rem;
    height: 7.7rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    padding: 0 0.9rem;
    padding-bottom: 0.9rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
}

.hebergements-cards .card-content h3 {
    margin: 0.4rem 0;
    font-size: 0.95rem;
}

.hebergements-cards .card-content p {
    margin: 0.4rem 0;
    font-size: 0.85rem;
}

.hebergements-plus {
    margin-top: 33px;
}

.hebergements-plus a {
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;

}

/*Populaires*/

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Activités */

.activite {
    padding: 2rem;
}

.activite .section-title {
    margin-bottom: 2rem;
}

.activite-cards {
    display: flex;
    justify-content: space-between;
}

.activite-cards a {
    text-decoration: none;
    color: black;
    width: 23%;
}

.activite-cards .card {
    width: 100%;
    padding: 0;
}

.activite-cards img {
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    width: 100%;
    height: 24rem;
}

.activite-cards h3 {
    padding: 0 1.25rem 1.20rem 1.25rem;
    margin: 1rem 0;
    font-size: 1rem;
}

/* Footer */

footer {
    background-color: var(--main-bg-color);
    display: flex;
}

.footer-column {
    padding: 1.3rem;
    width: 33%;
}

.footer-column h3{
    margin: 0;
}

.footer-column nav {
    display: flex;
    flex-direction: column;
}

.footer-column a {
    color: black;
    text-decoration: none;
    margin-top: 1rem;
    font-size: 1rem;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {
    .infoGroup-filterBar {
        display: block;
    }

    .filter {
        margin-left: 0;
        margin-right: 1rem;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activite-cards .card {
        height: 100%;
    }

    .activite-cards img {
        height: 12rem;
    }

    .activite-cards h3 {
        padding-bottom: 0;
    }
}

/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {
    
    body {
        margin: 0;
    }

    .main-container {
        padding: 0;
    }
    
    header {
        display: block;
    }

    .logo {
        display: flex;
        justify-content: center;
    }

    header nav a {
        width: 50%;
        margin: 0;
        padding: 0 0 1rem 0;
        text-align: center;
        border-bottom: #F2F2F2 1px solid;
    }

    header nav a:hover {
        color: var(--main-color);
        border-top: none;
        border-bottom: #0065FC 1px solid;
        padding: 0 0 1rem 0;
    }

    .infoGroup {
        margin: 0 1.25rem;
    }

    #search {
        width: 100%;
    }

    .buttonTxt {
        display: none;
    }

    .buttonLogo {
        display: block;
    }

    .infoGroup-filterBar {
        margin-bottom: 0;
    }

    .filterBar-filters{
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .filter {
        width: 35%;
        padding: 0.8rem 1.1rem;
        margin: 0 0 0.9rem 0;  
    }

    .filter p {
        font-size: 0.75rem;
    }

    .infoGroup-infoBar {
        margin-bottom: 1rem;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        padding: 1.7rem 1.1rem;
        border-radius: 0;
    }

    .hebergements-and-populaires .hebergements {
        background-color: white;
    }

    .hebergements-and-populaires .section-title {
        font-size: 1.25rem;
    }

    .populaires {
        margin-top: 0;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards .card {
        width: 96%;
        margin-top: 1rem;
    }

    .populaires-cards img {
        height: 7.5rem;
    }

    .hebergements-cards a {
        width: 96%;
    }

    .hebergements-cards .card {
        width: 100%;
        margin-top: 0.9rem;
    }

    .hebergements img {
        width: 100%;
        height: 7rem;
    }

    .hebergements-plus {
        margin-top: 0.7rem;
    }

    .hebergements-plus a {
        font-size: 1rem;
    }

    .activite {
        padding: 1.7rem;
    }

    .activite-cards {
        flex-direction: column;
    }

    .activite-cards a {
        width: 100%;
    }

    .activite-cards .card {
        width: 100%;
        margin-bottom: 0.9rem;
    }

    .activite-cards img {
        height: 7rem;
    }

    .activite-cards h3 {
        font-size: 0.95rem;
        padding-bottom: 1.20rem;
    }

    footer {
        display: block;
    }

    .footer-column {
        width: 85%;
    }

    .footer-column a {
        font-size: 0.9rem;
        margin-top: 0.9rem;
    }
}